<!-- <ion-item lines="full">
  <ion-icon id="dark-icon" slot="start" name="moon"></ion-icon>
  <ion-toggle class="ion-no-margin" [(ngModel)]="isDark" slot="start" (ionChange)="toggleDark()"></ion-toggle>
</ion-item> -->

<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="list">
      <ion-icon name="list-circle"></ion-icon>
      <ion-label>Liste</ion-label>
    </ion-tab-button>

    <!-- <ion-tab-button tab="grid">
      <ion-icon name="apps"></ion-icon>
      <ion-label>Grille</ion-label>
    </ion-tab-button> -->

    <ion-tab-button tab="templates">
      <ion-icon name="document"></ion-icon>
      <ion-label>Gabarits</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
